.calendar-header {
  padding: 4px;
  text-align: center;
  background-color: #002e91;
  border: 2px solid black;
  color: #fff !important;
  border-radius: 5px;
}

.ant-picker-calendar-full > div:nth-child(1) {
  margin-bottom: 10px;
}

.calendar .ant-picker-body {
  border: 1px solid black;
  border-radius: 5px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
  width: 0.3em;
}

.ant-picker-calendar-date-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ant-picker-calendar-date-content::-webkit-scrollbar-thumb {
  background-color: #8194f8;
  border-radius: 5px;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
  height: 65px !important;
}

.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  height: 18px !important;
  width: 18px !important;
}

.checkbox-red .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background-color: red !important;
  border-color: red !important;
}

.checkbox-green .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background-color: green !important;
  border-color: green !important;
}

.checkbox-yellow .ant-checkbox-checked .ant-checkbox-inner {
  background-color: yellow;
  border-color: yellow;
}

.checkbox-blue .ant-checkbox-checked .ant-checkbox-inner {
  background-color: blue;
  border-color: blue;
}

.show {
  display: block;
  border-radius: 5px;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1px 4px;
  margin-bottom: 1px;
}

.hide {
  display: none;
}
